</br>
<h3>This is a Ruby on rails app to manage articles</h3>
</br>
<div>
  <%= link_to 'Home', articles_path, class: "text-info" %> |
  <%= link_to 'List all articles', articles_path, class: "text-info" %>
</div>
