<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Welcome to my Ruby App</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <a class="btn btn-primary btn-success btn-lg text-black-50" href="#" role="button">Sign Up!</a>
  </div>
</div>
