<div class="container" id="home-container">
  <div class="jumbotron text-center text-black">
    <h1 class="display-4">Welcome to my Ruby App</h1>
    <p class="lead"></p>
    <hr class="my-4">
    <p></p>
    <div class="form-group row justify-content-center">
      <%= link_to 'Sign Up!', signup_path, class: "text-info" %>
    </div>
  </div>
</div>
